<section class="users-index">

  <header class="page-header">
    <h1>Users</h1>
  </header>

<article class="User">
  <header>
    <%= user.name %>
  </header>
  <p class="description">
    <%= user.email %>
  </p>
 
 </article>

</section>
