<tr>
  <td>
    <%= link_to user.first_name, "/admin/users/{:id}"%>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
   
    <%= link_to 'Delete', [:admin, user], method: :delete, class: 'btn btn-danger' %>

  </td>
</tr>